:root > * {
  --md-primary-fg-color: #005035;
}

.md-header {
  background: linear-gradient(45deg, #005035 75%, #000000) !important;
}
.md-header__button.md-logo {
  padding: 0 !important;
  margin-right: 0.5rem !important; 
}
.md-header__button.md-logo img {
  height: 2.5rem !important; 
  max-height: none !important; 
  width: auto !important;
}
